body {
    font-family: 'lmsans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'lmsans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.form-group > label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.input-group {
    width: 100%;
}

#flash > div {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #c09853;
}

#flash > .ok {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#flash > .error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

#flash > .info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* Footer styling */
.footer {
    margin-top: 45px;
    padding: 35px 30px 36px;
    border-top: 1px solid #e5e5e5;
}

.footer p {
    margin-bottom: 0;
    color: #555;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.lug-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.lug-content {
}

.lug-logoblock {
    display: table;
}

.lug-logoblock img {
    position: relative;
    float: left;
    vertical-align: middle;
}

.lug-logotextblock {
    display: table-cell;
    padding-left: 10px;
    vertical-align: middle;
}

.lug-logotext-csm {
    font-weight: bold;
    font-size: 18px;
}

.lug-logotext-lug {
    margin-top: -10px;
    font-size: 36px;
}

.lug-meeting-title {
    font-weight: bold;
}

.lug-profile-edit-btn {
    padding-top: 10px;
}

.lug-officer-position {
    font-style: italic;
}

.profile-image {
    width: 100%;
    border-radius: 8px;
}

.lug-upload-image-actions {
    text-align: left;
    padding-top: 20px;
}

.ml-fullname-warn {
    display: none;
}

.lug-image-after-select {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    display: none;
}

.img-fill {
    width: 100%;
    height: auto;
}

.lug-presentation-title {
    font-size: 20px !important;
}

.btn {
    padding: 9px 12px 7px;
    border-width: 0 1px 4px 1px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 18px 27px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.lug-home-banner {
    margin: 35px 0 30px;
    width: 100%;
}

.lug-home-banner-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.lug-hp-panels {
    margin-top: 35px;
}

.well > h3 {
    margin-top: 10px;
}

/* Mailing List Stuff */
.ml-fullname-warn {
  display: none;
}

.email-text {
  padding: 0;
  margin: 0;
  color: inherit;
  background-color: inherit;
  border: none;
  border-radius: inherit;
}

.email-body {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.email-quote {
  color: #888888;
  font-style: italic;
}

.email-signature {
  color: #888888;
}

.email-header {
  margin: 0;
  border-bottom: 2px solid;
  padding-bottom: 4px;
}

.navbar-right {
  margin-right: 0;
}
