/* TurboGears flash bootstrap look */
#flash > div {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #c09853;
}

#flash > .ok {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#flash > .error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

#flash > .info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* Footer styling */
.footer {
  margin-top: 45px;
  padding: 35px 30px 36px;
  border-top: 1px solid #e5e5e5;
}

.footer p {
  margin-bottom: 0;
  color: #555;
}

/* Mailing List Stuff */
.ml-fullname-warn {
  display: none;
}

.email-text {
  padding: 0;
  margin: 0;
  color: inherit;
  background-color: inherit;
  border: none;
  border-radius: inherit;
}

.email-body {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.email-quote {
  color: #888888;
  font-style: italic;
}

.email-signature {
  color: #888888;
}

.email-header {
  margin: 0;
  border-bottom: 2px solid;
  padding-bottom: 4px;
}

.navbar-right {
  margin-right: 0;
}

/* Logo */
.mozz-logo {
  margin: 20px 0;
  max-width: 400px;
  width: 100%;
}

/* Contact Page */
.mozz-officer-info {
  margin-bottom: 15px;
}

.mozz-officer-position {
  font-style: italic;
}

/* Profile Styles */
.profile-image {
  width: 100%;
  border-radius: 8px;
}

.profile-tagline {
  font-size: 1.4em;
  margin-top: -10px;
  display: block;
  margin-bottom: 10px;
}

/* Homepage */
.home-banner {
  margin: 35px 0 30px;
  width: 100%;
}

.home-banner-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.homepage-panels {
  margin-top: 35px;
}

.checkbox.single-checkbox label {
  font-weight: bold;
}

.on-first-time {
  display: none;
}

#attend {
  cursor: pointer;
  color: #18bc9c;
}

#attend:hover {
  background-color: #1ba287
}

#attend p {
  text-decoration: none;
}

#attend:hover p {
}

/* Survey Page */
.radio-group .radio-option label,
.checkbox-group .checkbox label {
  font-weight: normal;
}

/* Schedule Page */
.meeting-title {
  font-weight: bold;
}

/* Project Page */
.project-list-item .project-image {
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  max-height: 350px;
  margin-bottom: 10px;
}

.bold-list li {
  font-weight: bold;
}

.dot-separated-list {
  margin-bottom: 0px;
}

/* Add a dot between every project link */
.dot-separated-list li:not(:last-child)::after {
  content: '\00B7';
  font-size: 20px;
  margin-left: 10px;
  line-height: 1em;
}

/* Footer */
footer .social-links {
  margin-top: 10px;
  text-align: center;
  font-size: 2em;
}

footer .social-links a:not(:last-child) {
  margin-right: 10px;
}

.profile-card {
  overflow-y: auto;
  height: 17em;
  min-height: 17em;
}

.card-image {
  border-radius: 8px;
  width: 100%;
  margin-bottom: 5px;
}

/* Presentation */
.mozz-presentation-title {
    font-size: 20px !important;
}

.img-fill {
    width: 100%;
    height: auto;
}

.mozz-presentation-button {
  text-transform: uppercase;
}

.mozz-presentation-button i {
  margin-right: 4px;
}
