<ul class="list-group">
  <li py:for="meeting in meetings" class="list-group-item">
    <div class="meeting-block">
      <span class="meeting-title" py:content="h.rst(meeting.title)" />
      <span py:if="meeting.description"> – ${h.rst(meeting.description)}</span><br />
      <b>Date:</b>
      <py:if test="meeting.has_specific_duration">
        <span class="meeting-date" py:content="h.ftime(meeting.date, duration=meeting.duration, show_day=True)" /><br />
      </py:if><py:else>
        <span class="meeting-date" py:content="h.ftime(meeting.date, show_day=True)" /><br />
      </py:else>
      <b>Location:</b> <span class="meeting-location" py:content="meeting.location" />
    </div>
  </li>
  <py:if test="page == 'index'">
    <li class="list-group-item" py:if="meetings.count() == 0">
      <h4>There are no currently scheduled upcoming meetings.</h4>
    </li>
  </py:if>
  <py:if test="page == 'schedule'">
    <li class="list-group-item" py:if="len(meetings) == 0">
      <h4>There are no currently scheduled upcoming meetings. Check back periodically to see upcoming ${h.site_title} meetings here.</h4>
    </li>
  </py:if>

</ul>
